

.head-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin: 1px;
}

/* behöver få till logot och rubriken mer tillsammans
*/

.head-container nav ul {
    list-style-type: none;
    font-size: 1.4em;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color:black;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.hero-button:hover {
    background-color: #333;
}

.activity {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: fit-content;
    align-items: center;
    margin: 40px;
}

.activity img {
    width: 100%;
}

.planera-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.planera-button:hover {
    background-color: #333;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.kontakt-lankar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer-kontakt {
    display: flex;
    flex-direction: column;
}

.footer-lankar nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;

}


@media (max-width: 767px) {
    .hero-image {
        max-width: 100%;
        height: 250px;
        background-image: url('../images/hero.jpg');
        background-size: cover;
        background-position: center;
    }
}

@media (min-width: 768px) {
    nav ul {
        flex-direction: row;    
        list-style-type: none;
        font-size: 1.4em;
        gap: 20px;
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
    }

    .hero {
    max-width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    text-align: left;
    }

    .activity {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  
    flex-direction: row;
    gap: 20px;
    }
}
