
/*Head*/
.head-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px; 
    gap: 30px;
}


.nav-bar nav ul {
    list-style-type: none;
    font-size: 1.4em;
    gap: 5px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    text-align:left

}

.nav-bar nav ul li a {
    text-decoration: none;
    color:black;
    border-bottom: 1px solid grey;
}

/*Body*/
body, html {
    font-family: Arial, sans-serif;
    text-align: center;
}
/*Hero*/
.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.hero-button:hover {
    background-color: #333;
}
/*Activity*/
.activity {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: fit-content;
    align-items: center;
    margin: 40px;
}

.activity img {
    width: 100%;
}

/*Call-to-action*/

.desktop-text {
    display: none;
}

.mobil-text {
    display: block;
}

.planera-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.planera-button:hover {
    background-color: #333;
}

/*Footer*/

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.kontakt-lankar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.footer-kontakt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.footer-kontakt a {
    text-decoration: none;
    color: black;
}

.footer-lankar a {
    text-decoration: none;
    color: black;

}

.footer-lankar nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
    text-align: center;
}

/*Rubriker och text*/

header, main, footer {
    max-width: 1400px;
    margin: 0 auto;
}

h2, h3 {
    font-size: 1.5rem;
    font-style: bold;
    margin: 5px;
}

.rubrik-1, .rubrik-2, .rubrik-3, .rubrik-4, .rubrik-5, .footer-rubrik-1 {
    font-size: 1.5rem;
    font-style: bold;
    margin: 2px;
}

.footer-rubrik-2, .footer-rubrik-3 {
    font-size: 1.2rem;
    font-style: bold;
    margin: 5px;    
}

/*Hero-bild på telefon*/

@media (max-width: 767px) {
    .hero-image {
        max-width: 100%;
        height: 250px;
        background-image: url('../images/hero.jpg');
        background-size: cover;
        background-position: center;
    }
}

/*Desktop sektion*/

@media (min-width: 768px) {
    .head-container {
        display: flex;
        align-items: center;

    }
    
    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
    }

    .nav-bar nav ul {
        flex-direction: row;
        list-style-type: none;
        font-size: 1.4em;
        gap: 20px;
    }

    .hero {
        max-width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../images/hero.jpg');
        background-size: cover;
        background-position: center;
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 30px;
        color: white;
        text-align: left;
    }


    p {
        font-size: 1.2rem;
        line-height: 1.6;
    }

    .intro {
        text-align: center;
        margin: 0 auto;
        padding: 0 auto;
    }

    .activity-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .activity {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .rubrik-5 {
        text-align: left;
        font-size: 1.5rem;
        font-style: bold;
        margin: 5px 35px;
    }

    .desktop-text {
        display: block;
    }
    
    .mobil-text {
        display: none;
    }


    .cta-text-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cta-text {
        text-align: center;
        margin: 5px 35px;
    }

    .planera-button {
        padding: 10px 25px;
        font-size: 15px;
    }

    .all-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .kontakt-lankar {
        align-items: baseline;
        gap: 250px;
    }
    
}